.strong, .bold {
	font-weight: bold;
}

.left {
	width: 63%;
	float: left;
	padding: 6px;
}

.right {
	width: 34%;
	float: left;
	border-left: 1px solid #ccc;
	padding: 6px;
}

h4 {
	margin-bottom: 0px;
	font-size: 14px;
}
span.small {
	font-size: 12px!important;
}